# .gitignore

# ignore build artifacts
/dist
/build

# ignore IDE files
.idea
.vscode

# ignore node_modules
node_modules

# ignore pyc files
*.pyc

# ignore coverage reports
coverage.xml
coverage.html

# ignore pip cache
~/.cache/pip

# ignore virtualenv
env/