# Ignore the following files
*.pyc
*.log
*.tmp
*.swp
*.gitignore
*.idea
*.vscode

# Ignore the following directories
node_modules/
dist/
build/

# Ignore the following patterns
*.DS_Store
*.iml
*.suo
*.ntvs*
*.sln
*.csproj
*.vbproj
*.sln.docstates
*.suo.docstates
*.user
*.userosscache
*.vshost.exe
*.vshost.exe.manifest
*.vshost.suo
*.vshost.user
*.vshost.userosscache
*.cache
*.cache2
*.cache-dotnet
*.cache-dotnet2
*.cache-dotnet3
*.cache-dotnet4
*.cache-dotnet5
*.cache-dotnet6
*.cache-dotnet7
*.cache-dotnet8
*.cache-dotnet9
*.cache-dotnet10
*.cache-dotnet11
*.cache-dotnet12
*.cache-dotnet13
*.cache-dotnet14
*.cache-dotnet15
*.cache-dotnet16
*.cache-dotnet17
*.cache-dotnet18
*.cache-dotnet19
*.cache-dotnet20
*.cache-dotnet21
*.cache-dotnet22
*.cache-dotnet23
*.cache-dotnet24
*.cache-dotnet25
*.cache-dotnet26
*.cache-dotnet27
*.cache-dotnet28
*.cache-dotnet29
*.cache-dotnet30
*.cache-dotnet31
*.cache-dotnet32
*.cache-dotnet33
*.cache-dotnet34
*.cache-dotnet35
*.cache-dotnet36
*.cache-dotnet37
*.cache-dotnet38
*.cache-dotnet39
*.cache-dotnet40
*.cache-dotnet41
*.cache-dotnet42
*.cache-dotnet43
*.cache-dotnet44
*.cache-dotnet45
*.cache-dotnet46
*.cache-dotnet47
*.cache-dotnet48
*.cache-dotnet49
*.cache-dotnet50
*.cache-dotnet51
*.cache-dotnet52
*.cache-dotnet53
*.cache-dotnet54
*.cache-dotnet55
*.cache-dotnet56
*.cache-dotnet57
*.cache-dotnet58
*.cache-dotnet59
*.cache-dotnet60
*.cache-dotnet61
*.cache-dotnet62
*.cache-dotnet63
*.cache-dotnet64
*.cache-dotnet65
*.cache-dotnet66
*.cache-dotnet67
*.cache-dotnet68
*.cache-dotnet69
*.cache-dotnet70
*.cache-dotnet71
*.cache-dotnet72
*.cache-dotnet73
*.cache-dotnet74
*.cache-dotnet75
*.cache-dotnet76
*.cache-dotnet77
*.cache-dotnet78
*.cache-dotnet79
*.cache-dotnet80
*.cache-dotnet81
*.cache-dotnet82
*.cache-dotnet83
*.cache-dotnet84
*.cache-dotnet85
*.cache-dotnet86
*.cache-dotnet87
*.cache-dotnet88
*.cache-dotnet89
*.cache-dotnet90
*.cache-dotnet91
*.cache-dotnet92
*.cache-dotnet93
*.cache-dotnet94
*.cache-dotnet95
*.cache-dotnet96
*.cache-dotnet97
*.cache-dotnet98
*.cache-dotnet99
*.cache-dotnet100
*.cache-dotnet101
*.cache-dotnet102
*.cache-dotnet103
*.cache-dotnet104
*.cache-dotnet105
*.cache-dotnet106
*.cache-dotnet107
*.cache-dotnet108
*.cache-dotnet109
*.cache-dotnet110
*.cache-dotnet111
*.cache-dotnet112
*.cache-dotnet113
*.cache-dotnet114
*.cache-dotnet115
*.cache-dotnet116
*.cache-dotnet117
*.cache-dotnet118
*.cache-dotnet119
*.cache-dotnet120
*.cache-dotnet121
*.cache-dotnet122
*.cache-dotnet123
*.cache-dotnet124
*.cache-dotnet125
*.cache-dotnet126
*.cache-dotnet127
*.cache-dotnet128
*.cache-dotnet129
*.cache-dotnet130
*.cache-dotnet131
*.cache-dotnet132
*.cache-dotnet133
*.cache-dotnet134
*.cache-dotnet135
*.cache-dotnet136
*.cache-dotnet137
*.cache-dotnet138
*.cache-dotnet139
*.cache-dotnet140
*.cache-dotnet141
*.cache-dotnet142
*.cache-dotnet143
*.cache-dotnet144
*.cache-dotnet145
*.cache-dotnet146
*.cache-dotnet147
*.cache-dotnet148
*.cache-dotnet149
*.cache-dotnet150
*.cache-dotnet151
*.cache-dotnet152
*.cache-dotnet153
*.cache-dotnet154
*.cache-dotnet155
*.cache-dotnet156
*.cache-dotnet157
*.cache-dotnet158
*.cache-dotnet159
*.cache-dotnet160
*.cache-dotnet161
*.cache-dotnet162
*.cache-dotnet163
*.cache-dotnet164
*.cache-dotnet165
*.cache-dotnet166
*.cache-dotnet167
*.cache-dotnet168
*.cache-dotnet169
*.cache-dotnet170
*.cache-dotnet171
*.cache-dotnet172
*.cache-dotnet173
*.cache-dotnet174
*.cache-dotnet175
*.cache-dotnet176
*.cache-dotnet177
*.cache-dotnet178
*.cache-dotnet179
*.cache-dotnet180
*.cache-dotnet181
*.cache-dotnet182
*.cache-dotnet183
*.cache-dotnet184
*.cache-dotnet185
*.cache-dotnet186
*.cache-dotnet187
*.cache-dotnet188
*.cache-dotnet189
*.cache-dotnet190
*.cache-dotnet191
*.cache-dotnet192
*.cache-dotnet193
*.cache-dotnet194
*.cache-dotnet195
*.cache-dotnet196
*.cache-dotnet197
*.cache-dotnet198
*.cache-dotnet199
*.cache-dotnet200
*.cache-dotnet201
*.cache-dotnet202
*.cache-dotnet203
*.cache-dotnet204
*.cache-dotnet205
*.cache-dotnet206
*.cache-dotnet207
*.cache-dotnet208
*.cache-dotnet209
*.cache-dotnet210
*.cache-dotnet211
*.cache-dotnet212
*.cache-dotnet213
*.cache-dotnet214
*.cache-dotnet215
*.cache-dotnet216
*.cache-dotnet217
*.cache-dotnet218
*.cache-dotnet219
*.cache-dotnet220
*.cache-dotnet221
*.cache-dotnet222
*.cache-dotnet223
*.cache-dotnet224
*.cache-dotnet225
*.cache-dotnet226
*.cache-dotnet227
*.cache-dotnet228
*.cache-dotnet229
*.cache-dotnet230
*.cache-dotnet231
*.cache-dotnet232
*.cache-dotnet233
*.cache-dotnet234
*.cache-dotnet235
*.cache-dotnet236
*.cache-dotnet237
*.cache-dotnet238
*.cache-dotnet239
*.cache-dotnet240
*.cache-dotnet241
*.cache-dotnet242
*.cache-dotnet243
*.cache-dotnet244
*.cache-dotnet245
*.cache-dotnet246
*.cache-dotnet247
*.cache-dotnet248
*.cache-dotnet249
*.cache-dotnet250
*.cache-dotnet251
*.cache-dotnet252
*.cache-dotnet253
*.cache-dotnet254
*.cache-dotnet255
*.cache-dotnet256
*.cache-dotnet257
*.cache-dotnet258
*.cache-dotnet259
*.cache-dotnet260
*.cache-dotnet261
*.cache-dotnet262
*.cache-dotnet263
*.cache-dotnet264
*.cache-dotnet265
*.cache-dotnet266
*.cache-dotnet267
*.cache-dotnet268
*.cache-dotnet269
*.cache-dotnet270
*.cache-dotnet271
*.cache-dotnet272
*.cache-dotnet273
*.cache-dotnet274
*.cache-dotnet275
*.cache-dotnet276
*.cache-dotnet277
*.cache-dotnet278
*.cache-dotnet279
*.cache-dotnet280
*.cache-dotnet281
*.cache-dotnet282
*.cache-dotnet283
*.cache-dotnet284
*.cache-dotnet285
*.cache-dotnet286
*.cache-dotnet287
*.cache-dotnet288
*.cache-dotnet289
*.cache-dotnet290
*.cache-dotnet291
*.cache-dotnet292
*.cache-dotnet293
*.cache-dotnet294
*.cache-dotnet295
*.cache-dotnet296
*.cache-dotnet297
*.cache-dotnet298
*.cache-dotnet299
*.cache-dotnet300
*.cache-dotnet301
*.cache-dotnet302
*.cache-dotnet303
*.cache-dotnet304
*.cache-dotnet305
*.cache-dotnet306
*.cache-dotnet307
*.cache-dotnet308
*.cache-dotnet309
*.cache-dotnet310
*.cache-dotnet311
*.cache-dotnet312
*.cache-dotnet313
*.cache-dotnet314
*.cache-dotnet315
*.cache-dotnet316
*.cache-dotnet317
*.cache-dotnet318
*.cache-dotnet319
*.cache-dotnet320
*.cache-dotnet321
*.cache-dotnet322
*.cache-dotnet323
*.cache-dotnet324
*.cache-dotnet325
*.cache-dotnet326
*.cache-dotnet327
*.cache-dotnet328
*.cache-dotnet329
*.cache-dotnet330
*.cache-dotnet331
*.cache-dotnet332
*.cache-dotnet333
*.cache-dotnet334
*.cache-dotnet335
*.cache-dotnet336
*.cache-dotnet337
*.cache-dotnet338
*.cache-dotnet339
*.cache-dotnet340
*.cache-dotnet341
*.cache-dotnet342
*.cache-dotnet343
*.cache-dotnet344
*.cache-dotnet345
*.cache-dotnet346
*.cache-dotnet347
*.cache-dotnet348
*.cache-dotnet349
*.cache-dotnet350
*.cache-dotnet351
*.cache-dotnet352
*.cache-dotnet353
*.cache-dotnet354
*.cache-dotnet355
*.cache-dotnet356
*.cache-dotnet357
*.cache-dotnet358
*.cache-dotnet359
*.cache-dotnet360
*.cache-dotnet361
*.cache-dotnet362
*.cache-dotnet363
*.cache-dotnet364
*.cache-dotnet365
*.cache-dotnet366
*.cache-dotnet367
*.cache-dotnet368
*.cache-dotnet369
*.cache-dotnet370
*.cache-dotnet371
*.cache-dotnet372
*.cache-dotnet373
*.cache-dotnet374
*.cache-dotnet375
*.cache-dotnet376
*.cache-dotnet377
*.cache-dotnet378
*.cache-dotnet379
*.cache-dotnet380
*.cache-dotnet381
*.cache-dotnet382
*.cache-dotnet383
*.cache-dotnet384
*.cache-dotnet385
*.cache-dotnet386
*.cache-dotnet387
*.cache-dotnet388
*.cache-dotnet389
*.cache-dotnet390
*.cache-dotnet391
*.cache-dotnet392
*.cache-dotnet393
*.cache-dotnet394
*.cache-dotnet395
*.cache-dotnet396
*.cache-dotnet397
*.cache-dotnet398
*.cache-dotnet399
*.cache-dotnet400
*.cache-dotnet401
*.cache-dotnet402
*.cache-dotnet403
*.cache-dotnet404
*.cache-dotnet405
*.cache-dotnet406
*.cache-dotnet407
*.cache-dotnet408
*.cache-dotnet409
*.cache-dotnet410
*.cache-dotnet411
*.cache-dotnet412
*.cache-dotnet413
*.cache-dotnet414
*.cache-dotnet415
*.cache-dotnet416
*.cache-dotnet417
*.cache-dotnet418
*.cache-dotnet419
*.cache-dotnet420
*.cache-dotnet421
*.cache-dotnet422
*.cache-dotnet423
*.cache-dotnet424
*.cache-dotnet425
*.cache-dotnet426
*.cache-dotnet427
*.cache-dotnet428
*.cache-dotnet429
*.cache-dotnet430
*.cache-dotnet431
*.cache-dotnet432
*.cache-dotnet433
*.cache-dotnet434
*.cache-dotnet435
*.cache-dotnet436
*.cache-dotnet437
*.cache-dotnet438
*.cache-dotnet439
*.cache-dotnet440
*.cache-dotnet441
*.cache-dotnet442
*.cache-dotnet443
*.cache-dotnet444
*.cache-dotnet445
*.cache-dotnet446
*.cache-dotnet447
*.cache-dotnet448
*.cache-dotnet449
*.cache-dotnet450
*.cache-dotnet451
*.cache-dotnet452
*.cache-dotnet453
*.cache-dotnet454
*.cache-dotnet455
*.cache-dotnet456
*.cache-dotnet457
*.cache-dotnet458
*.cache-dotnet459
*.cache-dotnet460
*.cache-dotnet461
*.cache-dotnet462
*.cache-dotnet463
*.cache-dotnet464
*.cache-dotnet465
*.cache-dotnet466
*.cache-dotnet467
*.cache-dotnet468
*.cache-dotnet469
*.cache-dotnet470
*.cache-dotnet471
*.cache-dotnet472
*.cache-dotnet473
*.cache-dotnet474
*.cache-dotnet475
*.cache-dotnet476
*.cache-dotnet477
*.cache-dotnet478
*.cache-dotnet479
*.cache-dotnet480
*.cache-dotnet481
*.cache-dotnet482
*.cache-dotnet483
*.cache-dotnet484
*.cache-dotnet485
*.cache-dotnet486
*.cache-dotnet487
*.cache-dotnet488
*.cache-dotnet489
*.cache-dotnet490
*.cache-dotnet491
*.cache-dotnet492
*.cache-dotnet493
*.cache-dotnet494
*.cache-dotnet495
*.cache-dotnet496
*.cache-dotnet497
*.cache-dotnet498
*.cache-dotnet499
*.cache-dotnet500
*.cache-dotnet501
*.cache-dotnet502
*.cache-dotnet503
*.cache-dotnet504
*.cache-dotnet505
*.cache-dotnet506
*.cache-dotnet507
*.cache-dotnet508
*.cache-dotnet509
*.cache-dotnet510
*.cache-dotnet511
*.cache-dotnet512
*.cache-dotnet513
*.cache-dotnet514
*.cache-dotnet515
*.cache-dotnet516
*.cache-dotnet517
*.cache-dotnet518
*.cache-dotnet519
*.cache-dotnet520
*.cache-dotnet521
*.cache-dotnet522
*.cache-dotnet523
*.cache-dotnet524
*.cache-dotnet525
*.cache-dotnet526
*.cache-dotnet527
*.cache-dotnet528
*.cache-dotnet529
*.cache-dotnet530
*.cache-dotnet531
*.cache-dotnet532
*.cache-dotnet533
*.cache-dotnet534
*.cache-dotnet535
*.cache-dotnet536
*.cache-dotnet537
*.cache-dotnet538
*.cache-dotnet539
*.cache-dotnet540
*.cache-dotnet541
*.cache-dotnet542
*.cache-dotnet543
*.cache-dotnet544
*.cache-dotnet545
*.cache-dotnet546
*.cache-dotnet547
*.cache-dotnet548
*.cache-dotnet549
*.cache-dotnet550
*.cache-dotnet551
*.cache-dotnet552
*.cache-dotnet553
*.cache-dotnet554
*.cache-dotnet555
*.cache-dotnet556
*.cache-dotnet557
*.cache-dotnet558
*.cache-dotnet559
*.cache-dotnet560
*.cache-dotnet561
*.cache-dotnet562
*.cache-dotnet563
*.cache-dotnet564
*.cache-dotnet565
*.cache-dotnet566
*.cache-dotnet567
*.cache-dotnet568
*.cache-dotnet569
*.cache-dotnet570
*.cache-dotnet571
*.cache-dotnet572
*.cache-dotnet573
*.cache-dotnet574
*.cache-dotnet575
*.cache-dotnet576
*.cache-dotnet577
*.cache-dotnet578
*.cache-dotnet579
*.cache-dotnet580
*.cache-dotnet581
*.cache-dotnet582
*.cache-dotnet583
*.cache-dotnet584
*.cache-dotnet585
*.cache-dotnet586
*.cache-dotnet587
*.cache-dotnet588
*.cache-dotnet589
*.cache-dotnet590
*.cache-dotnet591
*.cache-dotnet592
*.cache-dotnet593
*.cache-dotnet594
*.cache-dotnet595
*.cache-dotnet596
*.cache-dotnet597
*.cache-dotnet598
*.cache-dotnet599
*.cache-dotnet600
*.cache-dotnet601
*.cache-dotnet602
*.cache-dotnet603
*.cache-dotnet604
*.cache-dotnet605
*.cache-dotnet606
*.cache-dotnet607
*.cache-dotnet608
*.cache-dotnet609
*.cache-dotnet610
*.cache-dotnet611
*.cache-dotnet612
*.cache-dotnet613
*.cache-dotnet614
*.cache-dotnet615
*.cache-dotnet616
*.cache-dotnet617
*.cache-dotnet618
*.cache-dotnet619
*.cache-dotnet620
*.cache-dotnet621
*.cache-dotnet622
*.cache-dotnet623
*.cache-dotnet624
*.cache-dotnet625
*.cache-dotnet626
*.cache-dotnet627
*.cache-dotnet628
*.cache-dotnet629
*.cache-dotnet630
*.cache-dotnet631
*.cache-dotnet632
*.cache-dotnet633
*.cache-dotnet634
*.cache-dotnet635
*.cache-dotnet636
*.cache-dotnet637
*.cache-dotnet638
*.cache-dotnet639
*.cache-dotnet640
*.cache-dotnet641
*.cache-dotnet642
*.cache-dotnet643
*.