# ignore .idea and .vscode folders
.idea
.vscode

# ignore .env files
.env

# ignore build and dist folders
build
dist

# ignore node_modules and yarn.lock
node_modules
yarn.lock

# ignore pycache and __pycache__ folders
__pycache__
pycache

# ignore coverage data
.coverage

# ignore IDE and editor settings
*.iml
*.sublime-project
*.sublime-workspace
*.vscode

# ignore IDE and editor backups
*.swp
*.swo
*.tmp

# ignore macOS and Linux files
.DS_Store
Thumbs.db

# ignore Python cache
__pycache__/
*.py[cod]

# ignore other IDEs and editors
.project
.settings
*.tmproj
*.tmprojx